@import url("../public/assets/fonts/stylesheet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

input:valid {
  background: white;
  border: 1px solid #d1d5db;
}

input:user-invalid {
  background: hsla(4, 100%, 67%, 0.1);
  border: 1px solid hsl(4, 100%, 67%);
}

input::placeholder:user-invalid {
  color: white;
}
